* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background: red;
}

.timerBox {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: blue;
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn   {
    background: blue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}
/* * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    display: flex;
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 28%;
}

#initiate {
    background-color: rgb(109, 209, 92);
    color: black;
    display: flex;
    justify-content: center;
    margin-right: 50%;
    margin-left: 30%;
}

#response1, #response2, #response3, #response4 {
    background-color: rgb(109, 209, 92);
    color: black;
    display: flex;
    justify-content: center;
    margin-right: 50%;
    margin-left: 30%;
}

#initiate:hover, #response1:hover, #response2:hover, #response3:hover, #response4:hover {
    background-color: aqua;
} */